/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER BAR */
.header {
    width: 100%;
    background: #0b0b0b;
    position: relative;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
}

/* NAV LIST */
.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list li {
    position: relative;
    flex: 1;
    text-align: center;
}


.nav-list a {
    display: block;
    padding: 18px 0;
    text-decoration: none;
    color: #9fe0c3;
    font-size: 14px;
    text-transform: uppercase;
    transition: background 0.3s;
}

.nav-list a:hover {
    background: #111;
}



/* SHOW DROPDOWN ON HOVER */
.nav-list li:hover::after {
    height: 160px;
    opacity: 1;
}

/* OPTIONAL TEXT INSIDE DROPDOWN */
.nav-list li:hover::before {
    content: "sub item 1\A sub ite
}