* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, serif;
}

html, body {
    height: 100%;
    overflow: hidden; 
}


.top-bar {
    background: #000124;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 30px;
    font-size: 14px;
}

.top-bar a {
    color: white;
    text-decoration: none;
}


.header {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.logo img {
    height: 40px;
}

.nav a {
    margin: 0 12px;
    text-decoration: none;
    color: #222;
    font-size: 14px;
    font-weight: bold;
}

.icons {
    font-size: 18px;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    height: 35vh;
    background: linear-gradient(135deg, #111, #42a5f5);
    color: white;
}

.hero-text {
    max-width: 500px;
}

#motto {
    font-size: 10px;
    letter-spacing: 4px;
}

.hero h1 {
    font-size: 22px;
    margin: 10px 0;
}

.desc {
    font-size: 13px;
    margin-bottom: 10px;
}

.btn {
    background: white;
    color: black;
    padding: 6px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 12px;
}


.card {
    width: 150px;
    height: 150px;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card:hover .card-inner {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    object-fit: cover;
    border-radius: 10px;
}

.back {
    transform: rotateY(180deg);
}


.products {
    background: #6a6a6a;
    text-align: center;
    padding: 15px 30px;
    height: 40vh;
    color: white;
}

.products h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

#sports-text {
    font-size: 13px;
    margin-bottom: 10px;
<<<<<<< HEAD
=======
    font-display:block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
>>>>>>> a98cf4157a52bad21b4eedae72f84e1f556b8e4e
}

.product-grid {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.product-card {
    background: #42a1e6;
    padding: 10px;
    border-radius: 12px;
    width: 150px;
}

.product-card img {
    width: 100%;
    height: 90px;
    object-fit: contain;
}

.product-card h3 {
    font-size: 13px;
    margin-bottom: 5px;
}

.product-card p {
    font-size: 13px;
    margin: 5px 0;
}

.btn-small {
    background: white;
    color: black;
    padding: 4px 10px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 11px;
}
