
* {
    margin: 0;              
    padding: 0;             
    box-sizing: border-box; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}


body {
    background-color: #616060; 
    color: #fff6f6;              
}


.top-bar {
    background: #000124;                 
    color: #ffffff;                     
    display: flex;                    
    justify-content: space-between;   
    padding: 20px 50px;               
    font-size: 25px;                  
}


.top-bar a {
    color: #fff;          
    text-decoration: none;
}


.top-bar a:hover {
    text-decoration: underline; 
}


.header {
    background: #fffafa;                          
    display: flex;                            
    justify-content: space-between;            
    align-items: center;                      
    padding: 25px 50px;                        
    
}


.logo img {
    height: 50px; 
}


.nav a {
    margin: 0 42px;         
    text-decoration: none;   
    color: #222;             
    font-weight: bold;       
}


.nav a:hover {
    color: #0270dd; 
}


.icons {
    font-size: 30px; 
    cursor: pointer; 
}


.hero {
    display: flex;                         
    align-items: center;                    
    justify-content: space-between;         
    padding: 70px 40px;                     
    background: linear-gradient(135deg,
        #0f0f0f, #42a5f5);                   
    color: #fff;                           
}


.hero-text {
    max-width: 520px; 
}


#motto {
    font-size: 10px;            
    letter-spacing: 10px;        
    text-transform: uppercase;  
    margin-bottom: 15px;        
    opacity: 0.9;             
}
#sports-text {
  color: rgb(253, 253, 253); 
}
#colorboots{
    color: #000000;
}
#footer{
    color: #fcfdff;
}
.hero h1 {
    font-size: 42px;      
    margin-bottom: 20px; 
}

.desc {
    font-size: 16px;      
    margin-bottom: 30px; 

}
.btn {
    display: inline-block;     
    background: #fff;          
    color: #000000;            
    padding: 12px 30px;        
    border-radius: 30px;       
    text-decoration: none;     
    font-weight: bold;         
    transition: 0.1s;          
}


.btn:hover {
    background: #42a1e6; 
}


.btn-small {
    display: inline-block;
    background: #f0f0f0;  
    color: #000000;          
    padding: 8px 20px;   
    border-radius: 20px;  
    text-decoration: none;
    font-size: 14px;
}


.btn-small:hover {
    background: #42a1e6; 
}

.hero-image img {
    width: 320px;        
    border-radius: 20px; 
}


.products {
    padding: 70px 40px;  
    text-align: center; 
}


.products h2 {
    font-size: 32px;
    margin-bottom: 10px;
    font-display: block;
}


.products p {
    color: #000000;         
    margin-bottom: 40px;
}



.product-grid {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;     
}


.product-card {
    background: #42a1e6;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}


.product-card:hover {
    transform: translateY(-8px); 
}


.product-card img {
    width: 100%;
    height: 180px;
    object-fit: contain;
    margin: 15px 0;
}


.product-card p {
    font-weight: bold;
    margin-bottom: 15px;
}


.footer {
    background: #111;
    color: #aaa;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}


@media (max-width: 900px) {

    
    .hero {
        flex-direction: column;
        text-align: center;
    }

    
    .hero-image img {
        margin-top: 30px;
        width: 260px;
    }

   
    .nav {
        display: none;
    }
}
.card {
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card:hover .card-inner {
  transform: rotateY(180deg);
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

